@keyframes io-alarm-flash-urgent {
  0%,
  49.99% {
    stroke: #ef4444;
  }
  50%,
  100% {
    stroke: #808080;
  }
}
@keyframes io-alarm-flash-urgent-text {
  0%,
  49.99% {
    fill: #ef4444;
  }
  50%,
  100% {
    fill: #808080;
  }
}
@keyframes io-alarm-flash-high {
  0%,
  49.99% {
    stroke: #f97316;
  }
  50%,
  100% {
    stroke: #808080;
  }
}
@keyframes io-alarm-flash-low {
  0%,
  49.99% {
    stroke: #eab308;
  }
  50%,
  100% {
    stroke: #808080;
  }
}
@keyframes io-alarm-flash-diagnostic {
  0%,
  49.99% {
    stroke: #f4f4f5;
  }
  50%,
  100% {
    stroke: #808080;
  }
}
@keyframes io-alarm-flash-custom {
  0%,
  49.99% {
    stroke: #60a5fa;
  }
  50%,
  100% {
    stroke: #808080;
  }
}
@keyframes io-alarm-flash-high-text {
  0%,
  49.99% {
    fill: #f97316;
  }
  50%,
  100% {
    fill: #808080;
  }
}
@keyframes io-alarm-flash-low-text {
  0%,
  49.99% {
    fill: #eab308;
  }
  50%,
  100% {
    fill: #808080;
  }
}
@keyframes io-alarm-flash-diagnostic-text {
  0%,
  49.99% {
    fill: #f4f4f5;
  }
  50%,
  100% {
    fill: #808080;
  }
}
@keyframes io-alarm-flash-custom-text {
  0%,
  49.99% {
    fill: #60a5fa;
  }
  50%,
  100% {
    fill: #808080;
  }
}

.io-alarm-flash-urgent > * {
  animation: io-alarm-flash-urgent 1s steps(1) infinite;
}
.io-alarm-flash-urgent text {
  animation: io-alarm-flash-urgent-text 1s steps(1) infinite;
}
.io-alarm-flash-high > * {
  animation: io-alarm-flash-high 1s steps(1) infinite;
}
.io-alarm-flash-high text {
  animation: io-alarm-flash-high-text 1s steps(1) infinite;
}
.io-alarm-flash-low > * {
  animation: io-alarm-flash-low 1s steps(1) infinite;
}
.io-alarm-flash-low text {
  animation: io-alarm-flash-low-text 1s steps(1) infinite;
}
.io-alarm-flash-diagnostic > * {
  animation: io-alarm-flash-diagnostic 1s steps(1) infinite;
}
.io-alarm-flash-diagnostic text {
  animation: io-alarm-flash-diagnostic-text 1s steps(1) infinite;
}
.io-alarm-flash-custom > * {
  animation: io-alarm-flash-custom 1s steps(1) infinite;
}
.io-alarm-flash-custom text {
  animation: io-alarm-flash-custom-text 1s steps(1) infinite;
}

/* Text readout alarm flash */
.io-alarm-flash rect {
  animation: io-alarm-box-flash 1s steps(1) infinite;
}
@keyframes io-alarm-box-flash {
  0%,
  49.99% {
    fill: rgba(239, 68, 68, 0.2);
    stroke: #ef4444;
  }
  50%,
  100% {
    fill: #27272a;
    stroke: #3f3f46;
  }
}
