[Unit]
Description=Inside/Operations Health Check Timer
After=io.target

[Timer]
OnBootSec=60s
OnUnitActiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
